.danh-sch-sn {
  position: absolute;
  top: 668px;
  left: 509px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 423px;
  height: 75px;
}
.group-child2 {
  position: absolute;
  top: 124.76px;
  left: 2px;
  background-color: var(--color-mistyrose);
  width: 453px;
  height: 668px;
}
.image-2-icon2 {
  position: absolute;
  top: 113.76px;
  left: 0;
  width: 455px;
  height: 466px;
  object-fit: cover;
}
.son-kem-3ce3 {
  position: absolute;
  top: 609.76px;
  left: 38px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
  width: 211px;
}
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 5.05%;
  width: 4.45%;
  top: 90.54%;
  right: 51.39%;
  bottom: 4.41%;
  left: 44.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14 {
  right: 65.63%;
  left: 29.92%;
}
.minus-square2,
.plus-square2 {
  left: 874.08px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.minus-square2 {
  position: absolute;
  top: 114.09px;
}
.plus-square2 {
  top: 0;
}
.div5,
.k3,
.plus-square2 {
  position: absolute;
}
.div5 {
  top: 694.76px;
  left: 323px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 60px;
  height: 60px;
}
.k3 {
  top: 633.76px;
  left: 293px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-inter);
}
.group-child3,
.rectangle-parent3 {
  position: absolute;
  top: 640.24px;
  left: 18px;
  width: 899.08px;
  height: 792.76px;
}
.group-child3 {
  top: 121.45px;
  left: 0;
  background-color: var(--color-mistyrose);
  width: 452.5px;
  height: 650.3px;
}
.son-3ce-mood {
  position: absolute;
  top: 583px;
  left: 30px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
  width: 237px;
  height: 186px;
}
.vector-icon15,
.vector-icon16 {
  position: absolute;
  height: 5.05%;
  width: 4.46%;
  top: 90.54%;
  right: 51.51%;
  bottom: 4.41%;
  left: 44.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16 {
  right: 65.78%;
  left: 29.76%;
}
.minus-square3,
.plus-square3 {
  position: absolute;
  top: 111.07px;
  left: 871.11px;
  background-color: var(--color-gray-200);
  width: 24.97px;
  height: 24.34px;
  overflow: hidden;
}
.plus-square3 {
  top: 0;
}
.div6,
.k4 {
  position: absolute;
  top: 676.35px;
  left: 320.64px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 59.93px;
  height: 58.41px;
}
.k4 {
  top: 611px;
  left: 309px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-inter);
  width: 143px;
  height: 49px;
}
.image-3-icon {
  position: absolute;
  top: 106px;
  left: 0;
  width: 454px;
  height: 454px;
  object-fit: cover;
}
.group-child4,
.rectangle-parent4 {
  position: absolute;
  top: 661px;
  left: 494px;
  width: 896.08px;
  height: 771.76px;
}
.group-child4 {
  top: 124.76px;
  left: 21px;
  background-color: var(--color-mistyrose);
  width: 453px;
  height: 668px;
}
.son-kem-3ce4 {
  position: absolute;
  top: 604px;
  left: 72px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
  width: 216px;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  height: 5.05%;
  width: 4.36%;
  top: 90.54%;
  right: 50.33%;
  bottom: 4.41%;
  left: 45.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18 {
  right: 64.27%;
  left: 31.37%;
}
.minus-square4,
.plus-square4 {
  left: 893.08px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.minus-square4 {
  position: absolute;
  top: 114.09px;
}
.plus-square4 {
  top: 0;
}
.div7,
.k5,
.plus-square4 {
  position: absolute;
}
.div7 {
  top: 694.76px;
  left: 342px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 60px;
  height: 60px;
}
.k5 {
  top: 631px;
  left: 317px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-inter);
}
.image-4-icon {
  position: absolute;
  top: 114px;
  left: 0;
  width: 474px;
  height: 467px;
  object-fit: cover;
}
.rectangle-parent5 {
  position: absolute;
  top: 640px;
  left: 946px;
  width: 918.08px;
  height: 792.76px;
}
.k6,
.son-thi-l {
  position: absolute;
  line-height: 50px;
}
.son-thi-l {
  top: 618.76px;
  left: 28px;
  text-align: left;
  display: inline-block;
  width: 261px;
}
.k6 {
  top: 636.76px;
  left: 292px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
}
.image-5-icon {
  position: absolute;
  top: 124.76px;
  left: 0;
  width: 462px;
  height: 462px;
  object-fit: cover;
}
.group-child6,
.rectangle-parent6 {
  position: absolute;
  top: 1399.24px;
  left: 18px;
  width: 899.08px;
  height: 792.76px;
}
.group-child6 {
  top: 121.45px;
  left: 6px;
  background-color: var(--color-mistyrose);
  width: 452.5px;
  height: 650.3px;
}
.son-3ce-velvet {
  position: absolute;
  top: 598px;
  left: 36px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
  width: 268px;
}
.vector-icon21,
.vector-icon22 {
  position: absolute;
  height: 5.05%;
  width: 4.43%;
  top: 90.54%;
  right: 51.17%;
  bottom: 4.41%;
  left: 44.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22 {
  right: 65.34%;
  left: 30.23%;
}
.minus-square6,
.plus-square6 {
  position: absolute;
  top: 111.07px;
  left: 877.11px;
  background-color: var(--color-gray-200);
  width: 24.97px;
  height: 24.34px;
  overflow: hidden;
}
.plus-square6 {
  top: 0;
}
.div9,
.k7 {
  position: absolute;
  top: 676.35px;
  left: 326.64px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 59.93px;
  height: 58.41px;
}
.k7 {
  top: 616px;
  left: 314px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-inter);
  width: 144px;
  height: 49px;
}
.image-6-icon {
  position: absolute;
  top: 106px;
  left: 0;
  width: 467.14px;
  height: 460px;
  object-fit: cover;
}
.group-child7,
.rectangle-parent7 {
  position: absolute;
  top: 1420px;
  left: 488px;
  width: 902.08px;
  height: 771.76px;
}
.group-child7 {
  top: 124.76px;
  left: 13px;
  background-color: var(--color-mistyrose);
  width: 453px;
  height: 668px;
}
.soft-matte-lipstick {
  margin: 0;
}
.son-kem-3ce-container {
  position: absolute;
  top: 612px;
  left: 27px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
  width: 319px;
}
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 5.05%;
  width: 4.4%;
  top: 90.54%;
  right: 50.77%;
  bottom: 4.41%;
  left: 44.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon24 {
  right: 64.84%;
  left: 30.77%;
}
.minus-square7,
.plus-square7 {
  left: 885.08px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.minus-square7 {
  position: absolute;
  top: 114.09px;
}
.plus-square7 {
  top: 0;
}
.div10,
.k8,
.plus-square7 {
  position: absolute;
}
.div10 {
  top: 694.76px;
  left: 334px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 60px;
  height: 60px;
}
.k8 {
  top: 629px;
  left: 311px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-inter);
}
.image-7-icon {
  position: absolute;
  top: 121px;
  left: 0;
  width: 466px;
  height: 466px;
  object-fit: cover;
}
.rectangle-parent8 {
  position: absolute;
  top: 1399px;
  left: 954px;
  width: 910.08px;
  height: 792.76px;
}
.instance-inner {
  background-color: var(--color-gainsboro);
}
.footer-child,
.instance-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.open-source1,
.sales1 {
  position: absolute;
  top: 37%;
  left: 27.15%;
}
.open-source1 {
  left: 43.75%;
}
.about1,
.linkedin1,
.medium1 {
  position: absolute;
  top: 36.29%;
  left: 61.74%;
}
.linkedin1,
.medium1 {
  left: 79.93%;
}
.medium1 {
  top: 71.29%;
  left: 80%;
}
.facebook1,
.youtube1 {
  position: absolute;
  top: 78.14%;
  left: 79.93%;
}
.youtube1 {
  top: 85%;
  left: 80.07%;
}
.github1,
.google1,
.reddit1 {
  position: absolute;
  top: 64.43%;
  left: 79.93%;
}
.google1,
.reddit1 {
  top: 57.57%;
}
.reddit1 {
  height: 4%;
  width: 5%;
  top: 50%;
  display: inline-block;
}
.blog1,
.technology1,
.twitter1 {
  position: absolute;
  top: 43.14%;
  left: 79.93%;
}
.blog1,
.technology1 {
  left: 61.74%;
}
.technology1 {
  left: 43.75%;
}
.business-apps1,
.e-commerce1,
.finance1 {
  position: absolute;
  top: 57.57%;
  left: 27.15%;
}
.business-apps1,
.finance1 {
  top: 64.43%;
}
.business-apps1 {
  top: 71.29%;
}
.project-management1,
.workforce1 {
  position: absolute;
  top: 50.71%;
  left: 27.15%;
}
.project-management1 {
  top: 43.86%;
}
.company1,
.connect1,
.developers1,
.solutions1 {
  position: absolute;
  top: 23.29%;
  left: 26.74%;
  font-size: var(--font-size-xl);
}
.company1,
.connect1,
.developers1 {
  left: 61.74%;
}
.connect1,
.developers1 {
  left: 77.85%;
}
.developers1 {
  left: 43.75%;
}
.image-1-icon2,
.vector-icon25 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-1-icon2 {
  height: 28.29%;
  width: 8.61%;
  top: 29.71%;
  right: 80.07%;
  bottom: 42%;
  left: 11.32%;
  object-fit: cover;
}
.vector-icon25 {
  height: 2.57%;
  width: 1.25%;
  top: 36.86%;
  right: 20.63%;
  bottom: 60.57%;
  left: 78.13%;
}
.vector-icon26,
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  position: absolute;
  height: 2.29%;
  width: 1.25%;
  top: 43.43%;
  right: 20.63%;
  bottom: 54.29%;
  left: 78.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  height: 2.57%;
  top: 50%;
  bottom: 47.43%;
}
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  height: 1.57%;
  top: 58.57%;
  bottom: 39.86%;
}
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  height: 2.14%;
  top: 64.86%;
  bottom: 33%;
}
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  height: 2.57%;
  top: 71.86%;
  bottom: 25.57%;
}
.vector-icon31,
.vector-icon32 {
  top: 78.71%;
  bottom: 18.71%;
}
.vector-icon32 {
  height: 1.86%;
  top: 85.57%;
  bottom: 12.57%;
}
.bl-item,
.footer1 {
  position: absolute;
  left: 0;
}
.footer1 {
  top: 3256px;
  width: 1440px;
  height: 700px;
  text-align: left;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.bl-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.banner,
.bl1,
.group-menu-item,
.vector-icon33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 520px;
}
.banner,
.group-menu-item,
.vector-icon33 {
  top: 120px;
}
.group-menu-item,
.vector-icon33 {
  top: 0;
  height: 120px;
}
.vector-icon33 {
  height: 38.33%;
  width: 3.61%;
  top: 34.17%;
  right: 8.89%;
  bottom: 27.5%;
  left: 87.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trang-ch1 {
  position: absolute;
  top: 33px;
  left: 191px;
}
.gii-thiu1,
.lin-h1,
.sn-phm3 {
  position: absolute;
  top: 33px;
  left: 382px;
}
.lin-h1,
.sn-phm3 {
  left: 761px;
}
.sn-phm3 {
  left: 569px;
}
.group-menu1,
.image-1-icon3 {
  position: absolute;
  top: 81.48px;
  left: 0;
  width: 1440px;
  height: 120px;
}
.image-1-icon3 {
  left: 56px;
  width: 60px;
  height: 96px;
  object-fit: cover;
}
.group-tm-kim-item {
  position: absolute;
  top: 106.48px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mistyrose);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 0 rgba(255, 255, 255, 0.25);
  width: 355px;
  height: 67px;
}
.tm-kim1 {
  position: absolute;
  top: 119.48px;
  left: 75px;
}
.search1,
.vector-icon34 {
  position: absolute;
  overflow: hidden;
}
.vector-icon34 {
  height: 14.41%;
  width: 5.1%;
  top: 74.06%;
  right: 89.8%;
  bottom: 11.53%;
  left: 5.1%;
  max-width: 100%;
  max-height: 100%;
}
.search1 {
  top: 0;
  left: 465.26px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
}
.group-tm-kim1,
.header1 {
  position: absolute;
  top: 0;
  left: 892px;
  width: 490.26px;
  height: 173.48px;
  font-size: var(--font-size-xl);
}
.header1 {
  top: -81.48px;
  left: 0;
  width: 1440px;
  height: 201.48px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.vector-icon35 {
  position: absolute;
  height: 1.33%;
  width: 4.79%;
  top: 0.98%;
  right: 1.67%;
  bottom: 97.7%;
  left: 93.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4000px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-sans-serif-collection);
}
.son-kem-3ce {
  position: absolute;
  top: 657px;
  left: 509px;
  display: inline-block;
  width: 576px;
  height: 156px;
}
.group-child {
  position: absolute;
  top: 855.99px;
  left: 3.03px;
  background-color: var(--color-mistyrose);
  width: 686.24px;
  height: 1011.94px;
}
.image-2-icon {
  position: absolute;
  top: 839.33px;
  left: 0;
  width: 689.27px;
  height: 705.94px;
  object-fit: cover;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 3.24%;
  width: 2.87%;
  top: 73.67%;
  right: 56.85%;
  bottom: 23.08%;
  left: 40.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  right: 64.47%;
  left: 32.66%;
}
.minus-square,
.minus-square1,
.plus-square,
.plus-square1 {
  position: absolute;
  top: 839.84px;
  left: 1324.13px;
  background-color: var(--color-gray-200);
  width: 37.87px;
  height: 37.87px;
  overflow: hidden;
}
.minus-square1,
.plus-square,
.plus-square1 {
  top: 667px;
}
.minus-square1,
.plus-square1 {
  top: 172.84px;
  left: 2074.56px;
}
.plus-square1 {
  top: 0;
}
.div,
.k,
.son-kem-3ce1 {
  position: absolute;
  display: inline-block;
}
.son-kem-3ce1 {
  top: 965px;
  left: 710px;
  line-height: 50px;
  text-align: left;
  width: 319.64px;
  height: 227.23px;
}
.div,
.k {
  top: 1362px;
  left: 756px;
  font-size: var(--font-size-13xl);
  width: 90.89px;
  height: 90.89px;
}
.k {
  top: 1286px;
  left: 697px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-inter);
  width: 186.33px;
  height: 75.74px;
}
.image-10-icon,
.image-11-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: 1716px;
  left: 3px;
  width: 150px;
  height: 153.02px;
  object-fit: cover;
}
.image-10-icon,
.image-11-icon,
.image-9-icon {
  top: 1717px;
  left: 185px;
  height: 152px;
}
.image-10-icon,
.image-11-icon {
  top: 1716px;
  left: 366px;
  height: 151.67px;
}
.image-11-icon {
  top: 1717px;
  left: 535px;
  height: 151.94px;
}
.rectangle-parent {
  position: absolute;
  top: -124px;
  left: 20px;
  width: 2112.43px;
  height: 1869.02px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-sans-serif-collection);
}
.instance-child {
  background-color: var(--color-gainsboro);
}
.footer-inner,
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.open-source,
.sales {
  position: absolute;
  top: 37%;
  left: 27.15%;
}
.open-source {
  left: 43.75%;
}
.about,
.linkedin,
.medium {
  position: absolute;
  top: 36.29%;
  left: 61.74%;
}
.linkedin,
.medium {
  left: 79.93%;
}
.medium {
  top: 71.29%;
  left: 80%;
}
.facebook,
.youtube {
  position: absolute;
  top: 78.14%;
  left: 79.93%;
}
.youtube {
  top: 85%;
  left: 80.07%;
}
.github,
.google,
.reddit {
  position: absolute;
  top: 64.43%;
  left: 79.93%;
}
.google,
.reddit {
  top: 57.57%;
}
.reddit {
  height: 4%;
  width: 5%;
  top: 50%;
  display: inline-block;
}
.blog,
.technology,
.twitter {
  position: absolute;
  top: 43.14%;
  left: 79.93%;
}
.blog,
.technology {
  left: 61.74%;
}
.technology {
  left: 43.75%;
}
.business-apps,
.e-commerce,
.finance {
  position: absolute;
  top: 57.57%;
  left: 27.15%;
}
.business-apps,
.finance {
  top: 64.43%;
}
.business-apps {
  top: 71.29%;
}
.project-management,
.workforce {
  position: absolute;
  top: 50.71%;
  left: 27.15%;
}
.project-management {
  top: 43.86%;
}
.company,
.connect,
.developers,
.solutions {
  position: absolute;
  top: 23.29%;
  left: 26.74%;
  font-size: var(--font-size-xl);
}
.company,
.connect,
.developers {
  left: 61.74%;
}
.connect,
.developers {
  left: 77.85%;
}
.developers {
  left: 43.75%;
}
.image-1-icon {
  position: absolute;
  height: 28.29%;
  width: 8.61%;
  top: 29.71%;
  right: 80.07%;
  bottom: 42%;
  left: 11.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 2.57%;
  width: 1.25%;
  top: 36.86%;
  right: 20.63%;
  bottom: 60.57%;
  left: 78.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 2.29%;
  top: 43.43%;
  bottom: 54.29%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 2.57%;
  top: 50%;
  bottom: 47.43%;
}
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 1.57%;
  top: 58.57%;
  bottom: 39.86%;
}
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 2.14%;
  top: 64.86%;
  bottom: 33%;
}
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 2.57%;
  top: 71.86%;
  bottom: 25.57%;
}
.vector-icon8,
.vector-icon9 {
  top: 78.71%;
  bottom: 18.71%;
}
.vector-icon9 {
  height: 1.86%;
  top: 85.57%;
  bottom: 12.57%;
}
.footer {
  top: 3257px;
  left: 20px;
  width: 1440px;
  height: 700px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.bl,
.bl-child,
.footer {
  position: absolute;
}
.bl-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bl {
  top: 2000px;
  left: 10px;
  width: 1440px;
  height: 520px;
}
.group-menu-child,
.vector-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 120px;
}
.vector-icon10 {
  height: 38.33%;
  width: 3.61%;
  top: 30.2%;
  right: 6.56%;
  bottom: 31.47%;
  left: 89.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gii-thiu,
.lin-h,
.sn-phm,
.trang-ch {
  position: absolute;
  top: 33px;
  left: 191px;
}
.gii-thiu,
.lin-h,
.sn-phm {
  left: 382px;
}
.lin-h,
.sn-phm {
  left: 761px;
}
.sn-phm {
  left: 569px;
}
.group-menu,
.image-1-icon1 {
  position: absolute;
  top: 81.48px;
  left: 0;
  width: 1440px;
  height: 120px;
}
.image-1-icon1 {
  left: 56px;
  width: 60px;
  height: 96px;
  object-fit: cover;
}
.group-tm-kim-child {
  position: absolute;
  top: 106.48px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mistyrose);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 0 rgba(255, 255, 255, 0.25);
  width: 355px;
  height: 67px;
}
.tm-kim {
  position: absolute;
  top: 119.48px;
  left: 75px;
}
.search,
.vector-icon11 {
  position: absolute;
  overflow: hidden;
}
.vector-icon11 {
  height: 14.41%;
  width: 5.1%;
  top: 74.06%;
  right: 89.8%;
  bottom: 11.53%;
  left: 5.1%;
  max-width: 100%;
  max-height: 100%;
}
.search {
  top: 0;
  left: 465.26px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
}
.group-tm-kim,
.header {
  position: absolute;
  top: 0;
  left: 892px;
  width: 490.26px;
  height: 173.48px;
  font-size: var(--font-size-xl);
}
.header {
  top: -81.48px;
  left: 0;
  width: 1440px;
  height: 201.48px;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-sans-serif-collection);
}
.chi-tit-sn-phm {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 4000px;
  overflow-y: auto;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.cart-plus {
  position: absolute;
  top: 1684.68px;
  left: 1795.53px;
  background-color: var(--color-gray-200);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.gi-hng-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 805px;
  height: 1599px;
}
.tm-tnh,
.tng-gi {
  font-family: var(--font-inter);
}
.tng-gi {
  position: absolute;
  top: 800px;
  left: 62px;
  line-height: 50px;
}
.tm-tnh {
  top: 636px;
  left: 61px;
}
.ph-vn-chuyn,
.thanh-ton,
.tm-tnh {
  position: absolute;
  line-height: 50px;
}
.ph-vn-chuyn {
  top: 718px;
  left: 62px;
  font-family: var(--font-inter);
}
.thanh-ton {
  top: 135px;
  left: 268px;
  font-size: var(--font-size-29xl);
}
.vector-icon12 {
  position: absolute;
  height: 3.88%;
  width: 8.38%;
  top: 3.38%;
  right: 85.38%;
  bottom: 92.75%;
  left: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.n-gi,
.s-lng,
.sn-phm1,
.son-kem-3ce2,
.tng-gi1 {
  position: absolute;
  top: 244px;
  left: 26px;
  line-height: 50px;
}
.n-gi,
.s-lng,
.son-kem-3ce2,
.tng-gi1 {
  left: 417px;
}
.n-gi,
.s-lng,
.son-kem-3ce2 {
  left: 550px;
}
.n-gi,
.son-kem-3ce2 {
  left: 694px;
}
.son-kem-3ce2 {
  top: 364px;
  left: 151px;
  font-size: 30px;
  display: inline-block;
  width: 273px;
}
.image-2-icon1 {
  position: absolute;
  top: 306px;
  left: 0;
  width: 174px;
  height: 217px;
  object-fit: cover;
}
.div1,
.div2,
.div3,
.div4,
.k1,
.k2 {
  position: absolute;
  top: 339px;
  left: 449px;
  line-height: 50px;
}
.div1,
.div2,
.div3,
.div4,
.k2 {
  top: 636px;
  left: 550px;
}
.div2,
.div3,
.div4,
.k2 {
  top: 704px;
  left: 557px;
}
.div3,
.div4,
.k2 {
  top: 800px;
  left: 543px;
}
.div4,
.k2 {
  top: 339px;
  left: 593px;
}
.k2 {
  left: 711px;
}
.gi-hng-item {
  position: absolute;
  top: 873px;
  left: 242px;
  border-radius: var(--br-3xs);
  background-color: #e46129;
  width: 223px;
  height: 70px;
}
.thanh-ton1 {
  position: absolute;
  top: 883px;
  left: 284px;
  line-height: 50px;
  font-family: var(--font-inter);
}
.gi-hng {
  position: relative;
  width: 800px;
  height: 1599px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-sans-serif-collection);
}
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
}
.group-item {
  border-radius: 30px;
  background-color: var(--color-mistyrose);
  box-shadow: 4px 4px 20px #675c5c;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 700px;
  height: 500px;
}
.group-inner {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset,
    -4px -4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 618px;
  height: 90px;
}
.password {
  position: absolute;
  top: 30px;
  left: 38px;
}
.rectangle-container {
  position: absolute;
  top: 194px;
  left: 45px;
  width: 618px;
  height: 90px;
}
.username {
  position: absolute;
  top: 30px;
  left: 42px;
}
.group-child1,
.group-div {
  position: absolute;
  top: 47px;
  left: 41px;
  width: 618px;
  height: 90px;
}
.group-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--xa-lnh);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 350px;
}
.login {
  position: absolute;
  top: 30px;
  left: 138px;
}
.rectangle-parent1 {
  position: absolute;
  top: 341px;
  left: 179px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 90px;
  cursor: pointer;
}
.instance-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--xa-lnh);
  filter: blur(4px);
  backdrop-filter: blur(4px);
}
.login1 {
  position: absolute;
  top: 33.33%;
  left: 39.43%;
}
.rectangle-parent2 {
  position: absolute;
  top: 341px;
  left: 179px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 90px;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 500px;
}
.log-in {
  position: relative;
  width: 700px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
